@font-face {
  font-family: "Formular";
  src:    url('https://nomail.com.ua/files/eot/48b65460503d2afb09d38b11ea4876a3.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/48b65460503d2afb09d38b11ea4876a3.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Formular";
  src:    url('https://nomail.com.ua/files/eot/32545091cdf923c0f45ad365afa5fa17.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/32545091cdf923c0f45ad365afa5fa17.woff') format('woff');
  font-weight: normal;
}

