.placeholder-visible {
  font-size: 16px !important;
}

.placeholder-visible::-webkit-input-placeholder {
  color: #777D89 !important;
}

.placeholder-visible::-moz-placeholder {
  color: #777D89 !important;
}

.placeholder-visible:-moz-placeholder {
  color: #777D89 !important;
}

.placeholder-visible:-ms-input-placeholder {
  color: #777D89 !important;
}
