$bgcolor: #20232A;
$bg-hover-btn: #FDB813;
$bg-focus-btn: #FFCB50;
$primary: #009F52;

$bg-btn2: #686868;
$bg-hover-btn2: #4B4B4B;

$link-color: #B4B4B4;
$bg-focus-btn: #FFCB50;
$primary: $bg-hover-btn;
$text-color: #D9D9D9;

//region Переопределение bs4
$grid-breakpoints: (
        xs: 0,
        sm: 375px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 100%,
        md: 720px,
        lg: 960px,
        xl: 1200px
) !default;

$border-color: #5A5A5E;


//endregion