engine/
uploads/_cache/
uploads/_remote/
database/_cache/
database/_driver.ini
assets/compress/
uploads/

database/

*.jsgz

*.cssgz

engine

forms/pages

*.log
.idea/*
assets/css/main.css.css
assets/css/style.map
sitemap.xml