.bg{
  height: 80vh;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.bg--1{
  background-image: url('../img/portfolio/full/top-paralax.png');
}

.parallax {
  min-height: 550px;
  background: transparent;
}

.parallax-mirror {
  img {
    //width: 100% !important;
    //height: auto !important;
    //top: 0 !important;
    //left: 0 !important;
  }
}

