#chatra.chatra--side-bottom {
  bottom: 20px;
  -webkit-transition: transform .2s linear;
  -moz-transition: transform .2s linear;
  -ms-transition: transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
}

#chatra.chatra--scroll-bottom {
  transform: translate3d(0, -80px, 0) !important;
}

.chatra--scroll-bottom {
  transform: translate3d(0, -80px, 0) !important;
}




