.fast-order {
  background: #F3F5F6;
  color: #20232A;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fast-order__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 50px;
}