.footer {
  background: #20232A;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  .footer__copyright, .footer__link, .social {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
}
.footer--main {
  position: absolute;
  bottom: 0;
  background: transparent;
}
.footer__copyright {
  white-space: nowrap;
  color: #777D89;
  margin-right: 50px;
}

.footer--page {

}
/*==========  Desktop First  ==========*/

// ≤1200px
@include media-breakpoint-down(lg) {

}

// ≤992px
@include media-breakpoint-down(md) {

}

// ≤768px
@include media-breakpoint-down(sm) {

}

// ≤375px
@include media-breakpoint-down(xs) {
  .modal-open .footer--main {
    padding-bottom: 20px;
  }
}
