.footer {
  background: #20232A;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  .footer__copyright, .footer__link, .social, .footer__link-offer {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
}

.footer--main {
  position: absolute;
  bottom: 0;
  background: transparent;
}

.footer__link {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.footer__copyright {
  white-space: nowrap;
  color: #777D89;
  margin-right: 40px;
  @media (max-width: 767px) {
    display: none !important;
  }
}

.footer__link-offer {
  @media (min-width: 768px) {
    display: none !important;
  }
}

// ≤375px
@include media-breakpoint-down(xs) {
  .modal-open .footer--main {
    padding-bottom: 20px;
  }
}
