.form-black {
  margin-top: 20px;
  .form-group__text {
    color: #777D89;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: text;
    transition: all .2s linear;
  }
  .form-control {
    font-size: 16px;
    color: #FFFFFF;
  }
  .smallText {
    color: #777D89;
  }
  .form-group__check {
    color: #20232A;
  }
  .form-control:focus {
    border-color: #000 !important;
  }

  .input-file {
    label {
      &:before {
        background: url("../img/icon/file-gray.svg") no-repeat;
      }
    }
  }
  .input-file__title {
    color: #777D89;
  }
}