body {
  padding-top: 77px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 12;
  height: 77px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.header-black {
  background: $bgcolor;
}

.header-color .header {
  background: rgba(51, 52, 55, 1);
}

.header.fixed {
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 20px;
  background: rgba(51, 52, 55, 0.9);
  z-index: 11111;
}

.header--main {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  position: relative;
  z-index: 1111;
}



