.map {
  height: 500px;
  position: relative;
  z-index: 1;
  min-height: 500px;
  iframe, #map {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    .gm-style-mtc, .gm-svpc, .gmnoprint, .gm-fullscreen-control {
      display: none !important;
    }
  }
}

.contacts {
  position: relative;
  z-index: 3;
  pointer-events: none;
}

.contacts__title {
  font-size: 50px;
  font-weight: bold;
  color: #777D89;
}

.contacts__phone {
  margin-top: 20px;
  a {
    color: #B4B4B4;
    font-size: 30px;
  }
}

.contacts__mail {
  margin-top: 20px;
  a {
    color: #B4B4B4;
    font-size: 20px;
  }
}

.contacts__address {
  margin-top: 20px;
  color: #777D89;
}


// ≥768px
@include media-breakpoint-up(lg) {
  .map {
    &:after {
      display: block;
    }
    &:before {
      display: none;
    }
  }
}

// ≤768px
@include media-breakpoint-down(sm) {
  .contacts__title {
    font-size: 37px;
  }
}

