.row-form-group {
  .form-control {
    font-size: 16px;
    border: 1px solid #777D89!important;
    padding-left: 20px !important;
    border-radius: 2px;
    @media (min-width: 768px) {
      border-radius: 2px 0 0 2px;
      padding-left: 27px !important;
      border-right: none !important;

    }
  }
  .form-group__text {
    left: 18px !important;
    background: #20232A !important;
    z-index: 11;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    @media (min-width: 768px) {
      left: 25px !important;
    }
  }
  .input--filled {
    .form-group__text {
      left: 12px !important;
      @media (min-width: 768px) {
        left: 19px !important;
      }

    }
  }
  .form-group__check {
    display: none !important;
  }

  @media (min-width: 768px) {
    .button {
      border-radius: 0 2px 2px 0 !important;
    }
  }

}