.social {
  display: inline-block;
}
.social__link {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

/*==========  Mobile First  ==========*/

// ≥375px
@include media-breakpoint-up(sm) {

}

// ≥768px
@include media-breakpoint-up(md) {
  .social__link {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// ≥992px
@include media-breakpoint-up(lg) {

}

// ≥1200px
@include media-breakpoint-up(xl) {

}
