.spec-offer {
  background: #F3F5F6;
  color: #20232A;
  padding-bottom: 50px;
}

.spec-offer__container {
  position: relative;
}

.spec-offer__close {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #B4B4B4;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;;
  &:hover {
    color: #20232A;
  }
}

.spec-offer__subtitle {
  position: relative;
  padding-left: 60px;
  font-size: 16px;
  padding-top: 15px;
  margin-bottom: 45px;
  @media (max-width: 374px) {
      padding-left: 55px;
      font-size: 14px;
      padding-top: 16px;
  }
  &:before {
    width: 40px;
    height: 52px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/icon/spec-offer.svg") no-repeat;
  }
}

.spec-offer__title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-bottom: 30px;
  text-transform: none;
  max-width: 700px;
  margin-bottom: 40px;
  @media (min-width: 1200px) {
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    background: #20232A;
    left: 0;
    bottom: 0;
  }
}

.spec-offer__right {
  @media (min-width: 1200px) {
    text-align: center;
  }
}

.spec-offer__btn {
  min-width: 290px;
}