.subscription {
  background: #20232A;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscription__title {
  background: #20232A;
  color: #FFFFFF;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-transform: none;
}

.subscription__subtitle {
  margin-top: 20px;
  color: #777D89;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
}