.success-form {
  background: #20232A;
  position: absolute;
  padding: 20px;
  text-align: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  color: #777D89;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fast-order {
  position: relative;
}

.success-form__title {
  color: #FDB813;
  font-size: 40px;
  margin-bottom: 18px;
  line-height: 1.2;
}

.success-form__text {font-size: 20px;}

.success-form__svg {
  max-width: 100%;
  margin-bottom: 50px;
}