// ≤375px
@include media-breakpoint-up(sm) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@include media-breakpoint-up(md) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
  .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }
}
