.input-wrapper::after {
  content: attr(data-text);
  font-size: 16px;
  line-height: 0;
  height: 0;
  max-width: 100%;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  user-select: none;
  color: transparent;
}

.form-white {
  .input-wrapper::after {
    border-bottom: 3px solid #777D89;
  }
}

.form-control {
  padding-left: 0 !important;
  padding-right: 0;
}

.form-black .form-group__text {
  left: 0 !important;
}