.modal {
  background: #20232A;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.modal__icon {
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.modal-content {
  border: none;
  background: $bgcolor;
  overflow: hidden;
  border-radius: 0 !important;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #B4B4B4;
  margin-bottom: 20px;
}
h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.modal-header {
  border-bottom: none;
  position: relative;
  margin-top: 30px;
  margin-bottom: 80px;
  display: block;
  padding: 0;
  padding-right: 55px;
  .close {
    position: absolute;
    right: 30px;
    top: 8px;
  }
}
.modal-body {
  margin: 0;
  padding: 0;
  h3:first-child {
    margin-top: 0;
  }
}
.modal-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0 !important;
}

.modal-dialog {
  padding: 0 15px;
  padding-bottom: 25px !important;
}
.modal-backdrop.show {
  opacity: 0.69;
}
.modal__desc {
  margin-top: 10px;
  color: #777D89;
}
.modal--application {
  .smallText {
    padding-left: 5px;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 1500px;
    margin: 50px auto;
  }
  .modal-dialog.modal-dialog-centered {
    margin: 20px auto;
  }
  .modal-header {
    margin-top: 50px;
  }
}


.modal--application {

}

@media (max-width: 767px) {
  .modal-header .close {
    right: 15px;
  }
  .modal-dialog {
    padding: 0;
    max-width: 100%;
    margin: 15px;
  }
}
