.scrollTop {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 13px;
  right: auto;
  bottom: 15px;
  z-index: 111;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &.scrollTop--visible {
    opacity: 1;
    visibility: visible;
  }
  @media (min-width: 768px) {
      left: 27px;
      bottom: 20px;
  }
  @media (min-width: 1200px) {
      left: 45px;
      bottom: 40px;
  }
}

.scrollTop.scrollTop--scroll-bottom {
  transform: translate3d(0, -50px, 0) !important;
  @media (min-width: 768px) {
    transform: translate3d(0, -43px, 0) !important;
  }
  @media (min-width: 1200px) {
    transform: translate3d(0, -25px, 0) !important;
  }
}




