.slider-main {
  width: 100%;
  //height: 100vh;
}


.slider-main__item {
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 550px;
  position: relative;
}

.slider-main__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: #20232A;
  background-size: cover;
  background-position: center;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    background: #000;
  }
}

.slider-main__wrap--1 {
  max-width: 1650px;
  right: 0;
  background-size: auto;
  background-position: left -260px;
  &:before {
    display: none;
  }

  @media (max-width: 991px) {
    background-position: -300px -260px;
  }
  @media (max-width: 767px) {
    background-position: -500px -260px;
  }
}

.slider-main__content {
  //max-width: 1130px;
  //position: absolute;
  //bottom: 100px;
  position: relative;
  width: 100%;
  @media (min-width: 992px) {
    //bottom: 230px;
  }
}
.slider-main__bordertext {
  margin-bottom: 40px;
}
.slider-main__title {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
  color: white;
  text-transform: none;
  display: inline-block;
}
.slider-main__subtitle {
  font-size: 24px;
  line-height: 1.3;
  margin-top: 50px;
  color: #b4b4b4;
  display: inline-block;
}
.slider-main__toptitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
  display: inline-block;
  @media (min-width: 768px) {
    font-size: 18px;
  }


}
.slider-main__desc {
  color: #FFFFFF;
  font-size: 14px;
  margin-top: 20px;
  max-width: 570px;
  @media (min-width: 992px) {
    font-size: 16px;
  }
}
.slider-main__btn {
  padding-left: 72px;
  padding-right: 72px;
}


/*==========  Mobile First  ==========*/

// ≥375px
@include media-breakpoint-up(sm) {

}

// ≥768px
@include media-breakpoint-up(md) {
  .slider-main__title {
    font-size: 45px;
  }

  .slider-main {
    min-height: 750px;
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  .slider-main__title {
    font-size: 80px !important;
    @media (max-height: 650px) {
      font-size: 40px !important;
    }
  }
}


// ≥1200px
@include media-breakpoint-up(xl) {

}


/*==========  Desktop First  ==========*/

// ≤768px
@include media-breakpoint-down(sm) {
  .slider-main.owl-carousel .owl-dots {
    width: auto;
    left: auto;
    right: 30px;
  }
  .slider-main__desc {
    max-width: 430px;
  }
}
// ≤375px
@include media-breakpoint-down(xs) {
  .slider-main.owl-carousel .owl-dots {
    right: 15px;
  }
  .slider-main__title {
    font-size: 26px;
    line-height: 1.3;
  }
}