img::before {
    background-color: var(--border-color);
}

.pb-0 {
    padding-bottom: 0!important;
}

.pt-0 {
    padding-top: 0!important;
}

.mt-150 {
    margin-top: 150px;
}

.bd-b {
    border-bottom: 1px solid var(--border-color);
}

.mb-80 {
    margin-bottom: 80px!important;
}

.d-none {
    display: none;
}

.glosario__item-list {
    align-self: self-start;
}

input {
    outline-width: 0;
}

.text-break {
    white-space: break-spaces;
}

.top-section {
    padding-top: 80px!important;
}

@media (min-width:800px) {
    .top-section {
        padding-top: 200px!important;
    }
}

.top-section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 40px;
    margin-bottom: 80px!important;
}

@media (min-width:800px) {
    .top-section-container {
        grid-template-columns: 1fr 1fr
    }
}