.breadCrumb {
  font-size: 18px;
}

.breadCrumb__item {
  display: none;
  &:not(:last-child):after {
    content: '/';
    color: #777D89;
  }
  &.breadCrumb__item--active {
    display: inline-block;
  }
}


.breadCrumb__link {

}

.breadCrumb__link--active {
  color: #777D89 !important;
}


.breadCrumb--title {
  .breadCrumb__link--active {
    color: #fff !important;
    font-size: 20px;
  }
}

.breadCrumb--post {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  .breadCrumb__item--blog {
    display: inline-block;
  }
}


@media (min-width: 768px) {
  .breadCrumb__item {
    display: inline-block;
  }
  .breadCrumb__link--active {
    color: #FFFFFF !important;
  }
}