.portfolio-nav {
  background: white;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -20px;
  background: rgba(51,52,55, 0.9);
  width: 100%;
  @media (min-width: 768px) and (min-height: 500px) {
    position: fixed;
    bottom: 0;
  }
  .button--dark-outline {
    color: white !important;
    border-color: white !important;
  }
}

.w-xs-100 {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.portfolio-nav {
  transition: transform .4s ease-out, opacity .4s;
  transition: transform .4s ease-out, opacity .4s, -webkit-transform .4s ease-out;
  &.portfolio-nav--hide {
    transform: translate3d(0, 80px, 0);
  }
  @media (max-width: 767px) {
    position: static !important;
    padding-top: 50px !important;
  }
}

.portfolio-nav.portfolio-nav--stop {
  position: absolute;
  top: auto;
  bottom: auto;
  transition: none;
  background: white;
  padding-top: 100px;
  .button--dark-outline {
    color: #20232A !important;
    border-color: #20232A !important;
    &:hover {
      color: white !important;
    }
  }
}

.portfolio-nav-stop {
  margin-bottom: 140px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.portfolio-nav--transition {
  transform: translate3d(0, 80px, 0);
  transition: none;
}


